.posts {
    min-width: 790px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #E53E3E, #D69E2E);
    border-image-slice: 1;
    padding: .9rem 1.5rem .9rem 1rem;
}
.postBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post__value {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.post__strong {
    display: flex;
    align-items: center;
}
.post__input:read-only {
    width: 650px;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    font-size: 1.25rem;
}
.post__input {
    border-color: #ff8700;
    box-shadow: 0 0 15px #ff8700;
}
.post {
    display: flex;
    justify-content: space-between;
}
.post_item__icon {
    max-width: 50%;
}
.post_item__icon:hover {
    cursor: pointer;
}
.post__buttons {
    display: flex;
    gap: .8rem;
}