.posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.title {
    text-align: center;
}
.buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}