.todos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo {
    display: flex;
    align-items: center;
}
.icons {
    display: flex;
    gap: .9rem;
}
.todoValue {
    border: none;
}
.todoIcon {
    cursor: pointer;
}